@model MvcBlog.Entities.Blog

<!DOCTYPE html>
<html lang="en">

<!-- Basic -->

<head>
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="static/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version">



    <!-- LOADER
    <!-- END LOADER -->
    <!-- End header -->

    <div class="all-title-box">
        <div class="container text-center">
            <h1>@Model.Title<span class="m_1"></span></h1>
        </div>
    </div>

    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 blog-post-single">
                    <div class="blog-item">
                        <div class="image-blog">
                            <img src="/uploads/blog.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="post-content">
                            <div class="post-date">
                                <span class="day">@Model.CreatedAt.Day</span>
                                <span class="month">@Model.CreatedAt.ToString("MMM")</span>
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#"> @Model.CreatedAt.ToShortDateString()</a> </span>
                                <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="#" title=""></a></h2>
                            </div>
                            <div>
                                <h1>@Model.Title</h1>
                            </div>
                            <div class="blog-desc">
                                <p>@Model.Content</p>
                            </div>
                        </div>
                    </div>

                    <div class="blog-author">
                        <div class="author-bio">
                            <h3 class="author_name" style="font-size: 24px;"><a href="@Url.Action("SingleUser", "User", new { id = Model.User.Id })">Author: @Model.User.UserName</a></h3>
                            <h5 style="font-size: 18px;">@Model.User.NameSurname <a href="#"></a></h5>

                            <p class="author_det">
                                Lorem ipsum dolor sit amet, consectetur adip, sed do eiusmod tempor incididunt  ut aut reiciendise voluptat maiores alias consequaturs aut perferendis doloribus omnis saperet docendi nec, eos ea alii molestiae aliquand.
                            </p>
                        </div>
                        <div class="author-desc">
                            <img src="@Url.Content("~/uploads/" + Model.User.ProfilImageFileName)" alt="about author" style="width: 250px; height: 250px;">
                            <ul class="author-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="blog-comments">
                        <h4>Comments (3)</h4>
                        <div id="comment-blog">
                            <ul class="comment-list">
                                <li class="comment">
                                    <div class="avatar"><img alt="" src="s/images/avatar-01.jpg" class="avatar"></div>
                                    <div class="comment-container">
                                        <h5 class="comment-author"><a href="#">Huseyin Adiguzel</a></h5>
                                        <div class="comment-meta">
                                            <a href="#" class="comment-date link-style1">November 22, 2023</a>
                                            <a class="comment-reply-link link-style3" href="#respond">Reply</a>
                                        </div>
                                        <div class="comment-body">
                                            <p>Mukemmel bir yazi.</p>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="comments-form">
                        <h4>Leave a comment</h4>
                        <div class="comment-form-main">

                            <form action="@Url.Action("AddComment", "Comment", new { id = Model.Id })" method="post">

                                <input type="hidden" name="BlogId" value="@Model.Id" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="commenter-message">Message</label>
                                            <textarea class="form-control" name="Metin" id="commenter-message" placeholder="Message" cols="30" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 post-btn">
                                        <button class="hover-btn-new orange" type="submit"><span>Post Comment</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div><!-- end col -->
                <div class="col-lg-3 col-12 right-single">
                    <div class="widget-search">
                        <div class="site-search-area">
                            <form method="get" id="site-searchform" action="#">
                                <div>
                                    <input class="input-text form-control" name="search-k" id="search-k" placeholder="Search keywords..." type="text">
                                    <input id="searchsubmit" value="Search" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget-categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul>
                            <li><a href="#">Software</a></li>
                            <li><a href="#">Frontend</a></li>
                            <li><a href="#">Cyber-Security</a></li>

                        </ul>
                    </div>
                    <div class="widget-tags">
                        <h3 class="widget-title">Search Tags</h3>
                        <ul class="tags">

                            <li><a href="#"><b>theme</b></a></li>
                            <li><a href="#"><b>html5</b></a></li>
                            <li><a href="#"><b>mysql</b></a></li>
                            <li><a href="#">multipurpose</a></li>

                        </ul>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->






    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="/static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/static/js/custom.js"></script>

</body>
</html>